// Menu Overrides

.menu {
  background-color: $secondary-background-color;
}
.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}
.menu li {
  font-family: 'Lato', sans-serif;
}
.menu a {
  color: $menu-link-color;
  text-decoration: none;
  font-weight: bold;
  float: left;
}
.menu a:hover, .menu li.active a {
  color: $menu-toggle-hover-active-color;
}

/*----- Toggle Button -----*/
.toggle-nav {
  display: none;
  background-color: #ED8F00;
  width: 100%;
}

/* media queries */

/* Desktop Screen Sizes */
/* Pixel Range: >= $min-desktop-width; */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(xlarge)} {
	.menu a {
		font-size: 1.25em;
		padding: 1%;
	}
}

/* Tablet Screen Sizes */
/* Pixel Range: >= $min-tablet-width; */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(large)} and #{breakpoint(xlarge down)} {
	.menu a {
		font-size: 1em;
		padding: 0.8em;
	}
}

/* Mobile Landscape Screen Sizes */
/* pixel range: $min-phone-landscape-width-($min-tablet-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(medium)} and #{breakpoint(large down)}  {
	.menu a {
		font-size: 0.75em;
		padding: 0.5em;
	}
}

/* Mobile portrait Screen Sizes */
/* pixel range: <=($min-phone-landscape-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(medium down)}  {
  .menu {
    position: relative;
    display: block;
  }
  .menu ul.active-toggle {
    display: none;
    background-color: #ED8F00;
  }
  .menu {
    width: 100%;
    position: absolute;
    top: 120%;
    margin-left: 0px;
    padding-left: 1%;
    background: #ED8F00;
  }
  .menu:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 5%;
    content: '';
    -moz-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
  }
  .menu li {
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    float: left;
    display: block;
  }
  .menu a {
    display: block;
  }

  ul > li {
    float: none;
    width: 100%;
  }

  .toggle-nav {
    padding: 1em;
    float: left;
    display: block;
    background-color: #ED8F00;
    color: #FFF;
    font-size: 20px;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    text-decoration: none;
    font-weight: bold;
  }

  .toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #a16100;
  }
}