/* Border box declaration */
html {
  box-sizing: border-box;
}

/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  background-color: #70482D;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Francois One', sans-serif;
}

a {
  color: #2772B0;
}

.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #EFECCA;
}

header {
  font-family: 'Lato', sans-serif;
  color: #FFF;
}

main {
  overflow: auto;
  background-color: #EFECCA;
}
main h2 {
  padding-top: 0em;
  background-color: #EFECCA;
  color: #61381D;
  text-align: center;
  font-family: 'Francois One', sans-serif;
}
main h3, main h4 {
  background-color: #EFECCA;
  font-family: 'Francois One', sans-serif;
}
main p {
  font-family: 'Lato', sans-serif;
  background-color: #EFECCA;
  color: #BB6F39;
}
main img {
  float: left;
}

div.photogallery h2 {
  padding-top: 0em;
  background-color: #EFECCA;
  color: #61381D;
  text-align: center;
  font-family: 'Francois One', sans-serif;
}
div.photogallery p {
  font-family: 'Lato', sans-serif;
  background-color: #EFECCA;
  color: #BB6F39;
  padding-left: 1%;
  padding-right: 1%;
}

.second_main_pic {
  float: right;
}

div.col-1-2-4 img {
  max-width: 350px;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.col-1-2-4 p {
  width: 95%;
  padding-left: 5%;
  padding-right: 2%;
  font-family: 'Lato', sans-serif;
  color: #BB6F39;
}

.col-1-2-4 h3 {
  color: #61381D;
}

footer {
  clear: both;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  color: #999;
  text-align: center;
}

/* grid system */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* media queries */
/* Desktop Screen Sizes */
/* Pixel Range: >= $min-desktop-width */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(xlarge)}  {
  /* Use the 1200px width background image in the header*/
  header {
    background: url(../images/sog-entrance-1200.jpg) no-repeat;
    width: 1200px;
    height: 300px;
  }

  main h2 {
    font-size: 2.5em;
    line-height: 1.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
  main p {
    font-size: 1.5em;
    line-height: 1.1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
  main img {
    padding-top: 0%;
    padding-left: 1%;
    padding-bottom: 1%;
    margin-right: 1.4em;
    float: left;
  }

  div.photogallery h2 {
    font-size: 2.5em;
    line-height: 1.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
  div.photogallery p {
    font-size: 1.5em;
    line-height: 1.1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }

  .pondgallery {
    width: 50%;
    margin: 0 auto;
  }

  .col-1-2-4 h3 {
    font-size: 1.25em;
    margin: 0 auto;
    text-align: center;
  }
  .col-1-2-4 img:hover {
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
  }
}
/* Tablet Screen Sizes */
/* pixel range: $min-tablet-width - ($min-desktop-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(large)} and #{breakpoint(xlarge down)} {
  /* Use the 1000px width background image in the header*/
  header {
    background: url(../images/sog-entrance-1000.jpg) no-repeat;
    width: 1000px;
    height: 300px;
  }

  main h2 {
    font-size: 2.25em;
    line-height: 1.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  main p {
    font-size: 1.25em;
    line-height: 1.15em;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  main img {
    padding-top: 1%;
    padding-left: 1%;
    margin-right: 1.3em;
    float: left;
  }

  div.photogallery h2 {
    font-size: 2.25em;
    line-height: 1.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  div.photogallery p {
    font-size: 1.25em;
    line-height: 1.15em;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .pondgallery {
    width: 65%;
    margin: 0 auto;
  }

  .col-1-2-4 h3 {
    font-size: 1.1em;
    margin: 0 auto;
    text-align: center;
  }
  .col-1-2-4 img:hover {
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }
}
/* Mobile Landscape Screen Sizes */
/* pixel range: $min-phone-landscape-width - ($min-tablet-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(medium)} and #{breakpoint(large down)} {
  /* Use the 800px width background image in the header*/
  header {
    background: url(../images/sog-entrance-800.jpg) no-repeat;
    width: 800px;
    height: 300px;
  }

  main h2 {
    font-size: 1.75em;
    line-height: 1.15em;
    padding-left: 0.15em;
    padding-right: 0.15em;
  }
  main p {
    font-size: 1.1em;
    line-height: 1.1em;
    margin-left: 0.15em;
    margin-right: 0.15em;
  }
  main img {
    padding-top: 1%;
    padding-left: 1%;
    margin-right: 1em;
    float: left;
  }

  div.photogallery h2 {
    font-size: 1.75em;
    line-height: 1.15em;
    padding-left: 0.15em;
    padding-right: 0.15em;
  }
  div.photogallery p {
    font-size: 1.1em;
    line-height: 1.1em;
    margin-left: 0.15em;
    margin-right: 0.15em;
  }

  .pondgallery {
    width: 85%;
    margin: 0 auto;
  }  

  .col-1-2-4 h3 {
    font-size: 1.25em;
    margin: 0 auto;
    text-align: center;
  }
  .col-1-2-4 img:hover {
    -moz-transform: scale(1.02, 1.05);
    -ms-transform: scale(1.02, 1.05);
    -webkit-transform: scale(1.02, 1.05);
    transform: scale(1.02, 1.05);
  }
}
/* Mobile portrait Screen Sizes */
/* pixel range: <= ($min-phone-landscape-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(medium down)} {
  /* Use the 500px width background image in the header*/
  header {
    background: url(../images/sog-entrance-500.jpg) no-repeat;
    width: 500px;
    height: 255px;
  }
  header h1 {
    padding: 0.5em;
    margin: 0;
  }
  header h1 a {
    color: #FFF;
    text-decoration: none;
  }

  main h2 {
    font-size: 1.5em;
    line-height: 1.2em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  main p {
    font-size: 1em;
    line-height: 1.15em;
    text-align: center;
  }
  main img {
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto;
    float: none;
  }

  div.photogallery h2 {
    font-size: 1.5em;
    line-height: 1.2em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  div.photogallery p {
    font-size: 1em;
    line-height: 1.15em;
    text-align: center;
  }

  .pondgallery {
    width: 95%;
    margin: 0 auto;
  }

  .first_main_pic, .second_main_pic {
    float: none;
  }

  .col-1-2-4 h3 {
    font-size: 1.25em;
    margin: 0 auto;
    text-align: center;
  }
  .col-1-2-4 p {
    margin-left: 2%;
    margin-right: 2%;
  }

  [class*='col-'] {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
